
.header {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    position: absolute;               /* 2 */
    top: 5%;   
    left:40%;
}

.imagem1 {
    margin: 0;
    position: absolute;               /* 2 */
    top: 90%;   
    left:-20%;
}

.imagem2 {
    margin: 0;
    position: absolute;               /* 2 */
    top: 9.6%;   
    left:18.2%;
}


.inputs {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    position: absolute;               /* 2 */
    top: 10%;   
    left:20%;
    font-size:14px;
}

.kits {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    position: absolute;               /* 2 */
    top: 10%;   
    left:56%;
    font-size:14px;
}

.mostracalculo {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    position: absolute;               /* 2 */
    top: 28%;   
    left:20%;
    font-size:14px;
}

.barra1{
    background-color: forestgreen;
    position: absolute;
    left: 13%;
    width: 70%;
    color:forestgreen;
}

.barra2{
    background-color: forestgreen;
    position: absolute;
    top: 270%;
    left: -27%;
    width: 278%;
    color:forestgreen;
}